$primeBg: #044;
$primeText: #ddd;
$primeWhite: #fff;
$secondarycolor: rgb(84, 190, 190);
$primeFont: "Nunito",
sans-serif;
$primefontweight: 400;
$boldfontweight: 700;
$primeTransition : all 0.3s ease-in;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;


}

a {
  text-decoration: none;
  color: $primeText;
}

@mixin dispflx {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 100%;
  background: $primeWhite;
  position: relative;

  .navbar-holder {
    position: relative;

    .nav-toggle {

      outline: none;
      border: none;
      width: 4rem;
      height: 4rem;
      background-color: transparent;
      display: none;
      transition: $primeTransition;

      i {
        background-color: #044;
        color: #ddd;
        font-size: 2.2rem;
      }

      &.active {
        display: block;
      }
    }



  }

  nav {
    width: 100%;
    height: 4rem;
    background: $primeBg;
    @include dispflx;
    justify-content: space-between;
    padding: 0 10rem;

    .logo {
      font-size: 3.2rem;
      font-family: $primeFont;
      font-weight: $boldfontweight;
      line-height: 4rem;
      text-transform: capitalize;

      i {
        font-size: 1.8rem;
        line-height: 4rem;
        animation: rotate 1s linear infinite;
        color: $secondarycolor;
      }
    }



    ul {
      list-style: none;
      @include dispflx;
      font-size: 1.4rem;
      font-family: $primeFont;
      justify-content: space-between;
      width: 30rem;
      font-weight: $boldfontweight;

      li a {
        color: $secondarycolor;
        transition: $primeTransition;
        padding: 0.4rem 1rem;
        border-radius: 0.6rem;

        &:hover {
          background: $secondarycolor;
          color: $primeWhite;
        }
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

// main content

.main {
  @include dispflx;
  width: 100%;
  padding: 5rem 10rem;
  // height: calc(100vh - 4rem);

  &.errorContainer {
    flex-direction: column;
  }

  .error-img {
    width: 40%;
    height: 50%;
    object-fit: contain;
  }



  .left-content {
    width: 50%;
    height: 100%;
    @include dispflx;
    align-items: flex-start;
    flex-direction: column;
    font-family: $primeFont;
    font-weight: $boldfontweight;
    color: #111;

    &.errorContent {
      align-items: center;
    }

    p {
      font-size: 1.8rem;

    }

    h1 {
      font-size: 3.2rem;

      span {
        color: #044;
      }
    }

    button {
      width: 15rem;
      outline: none;
      border-radius: 1.3rem;
      border: none;
      color: #ddd;
      background: $primeBg;
      padding: 1.2rem 0;
      margin-top: 4rem;
      font-size: 1.8rem;
      transition: $primeTransition;
      cursor: pointer;

      &:hover {
        background: $secondarycolor;
        color: $primeWhite;
      }
    }
  }

  .right-Content {
    width: 50%;
    height: 100%;
    overflow: hidden;
    @include dispflx;

    .img-container {
      width: 500px;
      height: 400px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }

      .about-img {
        object-fit: cover;
        height: 80%;
        // border-radius: 40%;
      }
    }
  }
}


footer {
  @include dispflx;
  flex-direction: column;
  font-family: $primeFont;
  font-weight: $boldfontweight;
  color: #ddd;
  background: $primeBg;
  padding: 2rem 0;
  width: 100%;
  margin-top: auto;

  p {
    font-size: 1.2rem;
  }

  .social-icons {
    margin-bottom: 1rem;

    a {
      color: $secondarycolor;
      transition: $primeTransition;
      padding: 0.4rem 1rem;
      border-radius: 0.6rem;

      &:hover {
        background: $secondarycolor;
        color: $primeWhite;
      }
    }
  }


}

.weather_main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .weather-content {

    .temp-form {
      position: relative;

      #cityName {
        width: 45rem;
        height: 4rem;
        outline: none;
        border: none;
        border-radius: 4rem;
        background: rgb(84, 190, 190);
        padding-left: 2rem;
        color: #fff;
        font-family: $primeFont;
        font-size: 1.8rem;
        font-weight: $boldfontweight;
        transition: $primeTransition;

        &::placeholder {
          color: #fff;
        }

        &:focus {
          background: #044;
        }
      }

      #submitBtn {
        position: absolute;
        top: 0;
        right: 0;
        width: 10rem;
        height: 100%;
        outline: none;
        border: none;
        border-radius: 4rem;
        background: #111;
        color: #044;
        font-family: $primeFont;
        font-size: 1.8rem;
        font-weight: $boldfontweight;
      }
    }
  }

  .data_hide {
    visibility: hidden;
    transition: $primeTransition;
  }

  .temp-info {
    width: 45rem;
    height: 25rem;
    background-color: #111;
    color: #fff;
    border-radius: 1.3rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    .top_layer {
      @include dispflx;
      justify-content: space-between;
      font-size: 1.8rem;
      font-family: $primeFont;
      font-weight: $boldfontweight;
    }

    .main_layer {
      display: flex;
      flex-direction: column;
      font-family: $primeFont;
      font-weight: $boldfontweight;

      #city_name {
        font-size: 3rem;
        padding-top: 2rem;
      }

      .weather_info {
        display: flex;
        justify-content: space-between;

        #temp {
          font-size: 3.6rem;
          margin-top: 3rem;
        }

        #temp-icon {
          font-size: 5rem;
          margin-top: 1rem;
        }
      }


    }
  }

}

#temp_mood {
  font-size: 3rem;
}

.data_hide {
  visibility: hidden;
  transition: $primeTransition;
}

@media (max-width:900px) {
  .main {
    @include dispflx;
    flex-direction: column;

    .left-content {
      margin-top: 1rem;
      width: 100%;
      height: 50%;
      @include dispflx;

      h1 {
        text-align: center;
      }

      button {
        padding: 1.2rem 0;
        margin-top: 3rem;
      }
    }

    .right-Content {
      width: 100%;
      overflow: hidden;
      @include dispflx;

      .img-container {
        width: 500px;
        height: 370px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }

      }
    }

  }
}

@media (max-width:670px) {
  .nav-toggle {
    display: block !important;
  }

  ul {
    flex-direction: column;
    position: absolute;
    top: 4rem;
    left: 0rem;
    align-items: flex-start !important;
    width: 100% !important;
    display: none !important;

    li {
      width: 100%;
      background-color: $primeBg;
      color: #fff;
      padding: 1rem;
      transition: $primeTransition;

      a {
        color: #fff !important;

      }

      &:hover {
        background-color: $secondarycolor;
      }
    }

    &.active {
      display: flex !important;
    }
  }

  nav {
    padding: 0 2rem !important;
  }
}

@media (max-width:600px) {
  .main {
    padding: 2rem 5rem;
  }

  h1 {
    font-size: 2.6rem !important;
  }

  p {
    text-align: center;
  }

  .main .left-content button {
    margin-top: 1rem;
  }
}