<!DOCTYPE html>
<html lang="en">

<head>
    {{>headtag}}

    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div class="home-container">
        {{>navBar}}

        <!-- main content -->

        <div class="main">
            <div class="right-Content">
                <div class="img-container">
                    <img src="images/img-18.jpg" class="about-img" alt="image container" />
                </div>
            </div>
            <div class="left-content">
                <p class="content-headding">Welcome to Weather App</p>
                <h1>I Am A <span>Mern Stack Devloper.</span> Student And A FreeLancer</h1>
                <button href="https://www.linkedin.com/in/anish-kuar-44686819b/" target="_blank">About Us</button>
            </div>

        </div>

        <!-- footer content -->

        {{>footer}}
    </div>
</body>

</html>