<footer>
    <div class="social-icons">
        <a class="footer-link" href="https://www.linkedin.com/" title="link is not specify">LinkedIn</a>
        <a class="footer-link" href="https://twitter.com/Anishku48057912/" target="_blank" title="link">Twitter</a>
        <a class="footer-link" href="https://www.appbrewery.co/" title="link is not specify">Website</a>
    </div>
    <p class="copyright">© 2021 Anish kuar@The Joker</p>
</footer>
<script>
    const toggle = document.querySelector(".nav-toggle");
    const ulist = document.querySelector(".ulist");
    toggle.addEventListener("click", () => {
        ulist.classList.toggle("active");
    });
</script>