<div class="navbar-holder">
  <nav>
    <div class="logo">
      <a href="home" class="logo"><span><i class="far fa-snowflake"></i></span>Mausam<span><i
            class="far fa-snowflake"></i></span></a>
    </div>
    <div class="nav-items">
      <ul class="ulist">
        <li><a href="/">Home</a></li>
        <li><a href="/weather">Weather</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
    <button class="nav-toggle" name="button">
      <i class="fas fa-bars"></i>
    </button>
  </nav>
</div>